---
layout: base
---

<div class="grid-system square">
    <h1 class="archives-body">Archives</h1>
    {% for row in archives %}
        <div>
            {% render "archive" filename: row.filename %}
        </div>
    {% endfor %}
</div>
