<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <header class="container">
            ASIAN AMERICAN POLITICAL ALLIANCE
        </header>

        <main>
            {{ content }}
        </main>
    </body>
</html>
