<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <header class="nav-wrapper">
            <nav>
                <div class="nav-fill l">
                    <a href="#">About</a>
                </div>
                <a href="/" class="nav-center">
                    ASIAN AMERICAN
                    <img src="/assets/img/aapa-logo-yellow.png" alt="The AAPA logo." class="aapa-logo" />
                    POLITICAL ALLIANCE
                </a>
                <div class="nav-fill r">
                    <a href="/archives">Archives</a>
                    <a href="#">Conversations</a>
                    <a href="#">Narratives</a>
                </div>
            </nav>
        </header>

        <main>
            {{ content }}
        </main>
    </body>
</html>
