@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

/*
 * First, let's define some global variables that we can reference later on in this style.
 */
:root {
    /* Our serif font, used for display body text */
    --serif-font: "Gilda Display", serif;

    /* Our sans font, used for headers. */
    --sans-font: "IBM Plex Sans", monospace;

    /* Our monospace font, used for accenting. */
    --mono-font: "Xanh Mono", monospace;

    /* Our colors. */
    --yellow: rgb(235, 205, 96);
    --black: rgb(20, 20, 20);
    --gray: rgb(120, 120, 120);

    /* Navbar height */
    --nav-height: 4.5rem;
}


/*
 * The body should be 
 */
body {
    font-family: var(--serif-font);

    background-color: var(--yellow);
    color: var(--black);

    margin: 0;
}

.container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

#aapa-description {
    font-size: 1.5rem;

    font-weight: 500;
}

.wavy {
    text-decoration-style: wavy;
    text-decoration-line: underline;
}

a.btn {
    padding: 1rem;
    color: var(--black);
}

a.btn:hover {
    opacity: 60%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;

    mix-blend-mode: difference;
}

.grid-system {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    gap: 0.5rem;

    &.full {
        grid-template-rows: repeat(8, 1fr);
        height: 100vh;
    }

    &.square img {
        object-fit: cover;
        aspect-ratio: 1;
    }

    .home-image {
        width: 32rem;
        grid-row: 3/span 1;
        grid-column: 1/span 2;

        .caption {
            font-family: var(--sans-font);
            font-weight: 400;
            font-size: 1.15rem;

            margin-top: 0.5rem;
        }
    }

    .home-text {
        grid-row: 3/span 1;
        grid-column: 3/span 2;
    }

    .archives-placeholder {
        grid-row: 1;
        grid-column: 1/span 2;
    }

    .archives-body {
        /* -1rem to account for edge margin */
        margin-top: calc(var(--nav-height) + 3rem);
        grid-row: 1;
        grid-column: 3/span 2;
    }

    .archives-page {
        margin-top: calc(var(--nav-height) + 3rem);
        grid-row: 1;
        grid-column: 4/span 1;
    }
}

nav {
    display: flex;
    align-items: center;
    font-family: var(--sans-font);
    justify-content: space-between;

    height: var(--nav-height);
    /* padding: 1rem 1rem; */
    padding: 0 1rem;
    /* border-bottom: 1px solid var(--black); */

    font-size: 1rem;

    z-index: 999;

    a:link, a:visited, a:active {
        color: var(--yellow);
        text-decoration: none;
    }

    a:hover {
        /* color: color-mix(in hsl, var(--black), var(--yellow) 50%); */
        opacity: 60%;
    }

    .nav-center {
        font-family: var(--mono-font);
        font-size: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-fill {
        display: flex;
        width: 20%;
        gap: 0.75rem;
    }

    .nav-fill.r {
        justify-content: flex-end;
    }
}

/* Images are full width */
img {
    width: 100%;
    height: auto;      
}

img.aapa-logo {
    height: 2.5rem;
    width: auto;
    margin: 0 0.5rem;
}

.mono {
    font-family: var(--mono-font);
}
