---
layout: base
---

<div class="container" id="aapa-description">
    <div style="margin-bottom: 2rem;">
        {% render "media" filename: "TWS,AAPAflyr69-VWAAPAArchive.jpg" %}
    </div>

    <p>The <span class="wavy">Asian American Political Alliance</span> (AAPA) is a ()</p>
    <p>AAPA began as a community endeavor&mdash;()</p>

    <p style="padding-top: 1.5rem;"><a href="/media" class="btn">Explore the archives →</a></p>
</div>

