---
layout: base
---

<div class="container" id="aapa-description">
    <p>The <span class="wavy">Asian American Political Alliance</span> (AAPA) was founded in 1968, as part of the broader efforts of the Third World Liberation Front (TWLF).</p>
    <p>The TWLF emerged in 1969 at UC Berkeley to demand self-determination in education through the establishment of a Third World College, whose curriculum would be designed for, and taught by, people of color.</p>
    <p>But TWLF was about more than demands for a new course of study and representation. Through its vision of an open university, tied to and energized by communities historically excluded from college settings, it threw down a larger challenge to oppressive structures of power at the University, in the United States, and across the world.</p>
    <p style="padding-top: 1.5rem;"><a class="btn-action-disabled">Explore the archives →</a></p>
</div>

