---
layout: base
---

<div id="aapa-description">
    <div class="grid-system full">
        <div class="home-image">
            <!-- {% render "archive" filename: "TWS,AAPAflyr69-VWAAPAArchive.jpg" %} -->
            {% render "archive" filename: "TWSmarchdwntwnBerk1969.png" %}
        </div>
        <div class="home-text">
            <!--
            <p style="margin-top: 0;">The <span class="wavy">Asian American Political Alliance</span> (AAPA) is a ()</p>
            <p>AAPA began as a community endeavor, taking space within the university but not being <em>of</em> the university.</p>
            -->

            <p><a href="/archives" class="btn">Explore the archives →</a></p>
        </div>
    </div>

</div>

